body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}


nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
